body {
    height: 100vh;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    min-width: 640px;

}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 650px;
}



.square {
    background-color: blue;
    border-color: black;
    flex-shrink: 0;
}